@keyframes vibrate{
   0% {
      transform: translateX(3px);
   }
   10% {
      transform: translate(0, -2px);
   }
   20% {
      transform: translate(-3px, 0);
   }
   30% {
      transform: translate(3px, 2px);
   }
   40% {
      transform: translate(2pxpx, -2px);
   }
   50% {
      transform: translate(-2px, 2px);
   }
   60% {
      transform: translate(2px, -1px);
   }
   70% {
      transform: translate(-2px, 1px);
   }
   80% {
      transform: translate(1px, -1px);
   }
   90% {
      transform: translate(-1px, 1px);
   }
   100% {
      transform: translate(0);
   }
}